*{
    box-sizing: border-box;
}

.shop{
    border: 1px red dotted;
    margin: 1rem 1rem ;
}

.shop-container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    gap:30px;
}
@media (max-width: 1000px) {
    .shop-container{
        grid-template-columns: repeat(2,254px);
    }
}

@media (max-width: 600px) {
    .shop-container{
        grid-template-columns: repeat(2,200px);
    }
    
}
@media (max-width: 500px) {
    .shop-container{
        grid-template-columns: repeat(2,200px);
    }
    
}
@media (max-width: 450px) {
    .shop-container {
        grid-template-columns: repeat(2,180px);
    }
    
}

@media (max-width: 400px) {
    .shop-container {
        grid-template-columns: repeat(2,150px);
    }
    
}
@media (max-width: 300px) {
    .shop-container {
        grid-template-columns: repeat(1,150px);
    }
    
}

.item{
    border: 1px black solid;

    font-size: 1rem;
    text-align: center;
    border-radius: 5%;
    /* padding: 2px; */
}

.item img{
    width: 100%;
    height: auto;
    border-radius: 6%;
}


.price-quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5px;
    font-size: 1.0rem;
    align-items: center;
    /* padding: 1rem; */
}

.button{
    display: flex;
    gap:5px;
    font-size: 1.0rem;
    align-items: center;
}

